<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

       <!--  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/font-awesome.min93e3.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/style.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/login.min.css}" rel="stylesheet" type="text/css">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/script/login.js}"></script>
        
        <script th:src="@{/js/jsUtil.js}"></script> -->
       
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min93e3.css" rel="stylesheet">
<link href="/css/animate.min.css" rel="stylesheet">
<link href="/css/style.min.css" rel="stylesheet">
<link href="/css/login.min.css" rel="stylesheet">
<script src="/js/jquery.min.js" th:src="@{../static/js/jquery.min.js}"></script>
<script src="/js/script/login.js" th:src="@{../static/js/jquery.min.js}"></script>
<script src="/js/jsUtil.js" th:src="@{../static/js/jquery.min.js}"></script>

<title>登陆</title>
<script type="text/javascript">
document.onkeydown=function(event){
    var e = event || window.event || arguments.callee.caller.arguments[0];
     if(e && e.keyCode==13){
         login();
    }
};
</script>
</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-6">
                 <!-- <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>大数据平台用户标签系统</h1>
                    </div>
                    <div class="m-b">
                    	<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </div>
                    <h4>欢迎使用</h4>
                    <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>
                </div>  -->
            </div>
            <div class="col-sm-6">
                <div class="signinpanel-div">
                	<div align="center"><h3>SpringBoot系统</h3></div>
                    <h4 class="no-margins"></h4>
                    <p class="m-t-md"></p>
                    <input id="username" type="text" class="form-control uname" placeholder="用户名" /> <!-- value="${loginname }" -->
                    <input id="pasId" type="password" class="form-control pword m-b" placeholder="密码"  />
                    <div style="margin-left: 50px;">
        				<span id="errorMessage" style="color:red;"></span>
        			</div>
                    <button class="btn btn-success btn-block" onclick="login();">登录</button>
                </div>
            </div>
        </div>
        <!-- <div class="signup-footer">
            <div class="pull-left">
            	
            </div>
        </div> -->
    </div>
</body>
</html>